<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[GxMcp.Worker]*</Include>
          <ExcludeByFile>
            **/Configuration.cs,
            **/Helpers/CodeParser.cs,
            **/Helpers/FrameworkManagedVariables.cs,
            **/Helpers/GxWebFormHelper.cs,
            **/Helpers/JsonUtil.cs,
            **/Helpers/PatternSnapshotStore.cs,
            **/Helpers/PersistenceExtensions.cs,
            **/Helpers/ReportLayoutHelper.cs,
            **/Helpers/SdtModelPropagation.cs,
            **/Helpers/StructureParser.cs,
            **/Helpers/TableDependencyInjector.cs,
            **/Helpers/Tree.cs,
            **/Helpers/VariableInjector.cs,
            **/Helpers/WebFormCompositionRepair.cs,
            **/Helpers/WebFormSaveDiagnostics.cs,
            **/Helpers/WebFormSdkProbe.cs,
            **/Helpers/WebFormTypedPropertyWriter.cs,
            **/Helpers/WebFormXmlHelper.cs,
            **/Parsers/SdtDslParser.cs,
            **/Parsers/TableDslParser.cs,
            **/Parsers/TransactionDslParser.cs,
            **/Program.cs,
            **/Services/ApplyTemplateService.cs,
            **/Services/AssetService.cs,
            **/Services/CommandDispatcher.cs,
            **/Services/ConversionService.cs,
            **/Services/DataInsightService.cs,
            **/Services/DiffService.cs,
            **/Services/DoctorService.cs,
            **/Services/ExportObjectService.cs,
            **/Services/ForgeService.cs,
            **/Services/FormatService.cs,
            **/Services/HealthService.cs,
            **/Services/HistoryService.cs,
            **/Services/InjectionService.cs,
            **/Services/KbService.cs,
            **/Services/KbValidationService.cs,
            **/Services/KbWatcherService.cs,
            **/Services/LayoutService.cs,
            **/Services/LinterService.cs,
            **/Services/NavigationService.cs,
            **/Services/NavigationSqlService.cs,
            **/Services/ObjectService.cs,
            **/Services/PatchService.cs,
            **/Services/PatternAnalysisService.cs,
            **/Services/PatternService.cs,
            **/Services/PropertyService.cs,
            **/Services/RefactorService.cs,
            **/Services/SDTService.cs,
            **/Services/SearchService.cs,
            **/Services/SelfTestService.cs,
            **/Services/Structure/IndexService.cs,
            **/Services/Structure/VisualStructureMapper.cs,
            **/Services/Structure/VisualStructureService.cs,
            **/Services/StructureService.cs,
            **/Services/SummarizeService.cs,
            **/Services/TestService.cs,
            **/Services/UIService.cs,
            **/Services/ValidatePayloadService.cs,
            **/Services/ValidationService.cs,
            **/Services/VectorService.cs,
            **/Services/VersionControlService.cs,
            **/Services/VisualizerService.cs,
            **/Services/VisualSnapshotService.cs,
            **/Services/WikiService.cs,
            **/Services/WriteService.cs
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
